.speechBox{
    text-align: center;
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.speechBoxContent{
    position: absolute;
    z-index: 1000;
    width: 15em;
    height: 10em;
    background-color:(0,0,0,0.7);
    border-radius: 50%;
    cursor: move;
    border: 1px solid rgb(95, 95, 95);
    padding: 2em 0em;
    text-align: center;

}